<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>

    <appSettings>
        <add key="db_which" value="roadsigninfodb_remote"/>
        <add key="camera_index" value="0"/>
    </appSettings>

    <connectionStrings>
       <add name="roadsigninfodb_local"
            connectionString="SERVER=127.0.0.1;PORT=3306;UID=root;PWD=zoucheng;DATABASE=roadsigninfodb_1.0.1"
            providerName="MySql.Data.MySqlClient" />
        <add name="roadsigninfodb_remote"
            connectionString="SERVER=5631ad9b1e946.sh.cdb.myqcloud.com;PORT=5975;UID=root;PWD=bryce@IEG624;DATABASE=roadsigninfodb_1.0.1"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
  
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
</configuration>
